.github {
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
}

.github img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;
}

.github img:hover {
    transform: scale(1.1);
}